.side-bar
  
  .side-bar__header
    .side-bar__namebox
      .side-bar__name__list
        masa
      .side-bar__icon
        .side-bar__icon1
        = icon('fas', 'edit')
        .side-bar__icon2
        = icon('fas', 'cog')
  
  .side-bar__groups
    .side-bar__groupsbox
      .side-bar__groupsname
        techcamp
      .side-bar__groupsmessage
        まだメッセージがありません
